<div class="container">
    <div class="row titulo">
      <h1>Detalles del registro de Picking</h1>
      <h4>Numero de Orden: <span>{{ordenVenta?.ordenVenta.docNum}}</span></h4>
      <h4>Numero de Picking: <span>{{ordenVenta?.absEntry}}</span> </h4>
      <div class="col-md-6">
          <select [(ngModel)]="claveVerificado">
              <option value="">Selecciona un Verificador</option>
              <option *ngFor="let verificador of verificadorEstado"  value="{{verificador.claveVerificador}}" >{{verificador.nombreVerificador}}</option>
          </select>
          <br>
          <br>
          <button (click)="asignarVerificador()">Asignar Verificador</button>
      </div>
    </div>
  </div>
  