<div class="card-container">
  <h1 class="fuente_h1">Detalles del Trabajador</h1>
  <p class="hero-image-container">
    <img class="hero-image" src="/assets/usuarios.jpg" alt="Aqui deberia estar la imagen del Surtidor" />
  </p>
  <main class="main-content">
    <div class="flex-row">
      <div class="coin-base fontImg">
        <img src="/assets/nombre.png" alt="Ethereum" class="small-image"/>{{surtidor?.nombreSurtidor}}
        </div>
      <div class="coin-base fontImg">
        <img src="/assets/contrasena.png" alt="Ethereum" class="small-image fontImg"/>{{surtidor?.claveSurtidor}}
        </div>
      <div class="time-left fontImg">
        <img src="/assets/bateria-llena.png" alt="clock" class="small-image fontImg" />{{surtidor?.estadoSurtidor}}
      </div>
    </div>
  </main>
  <div class="buttons">
    <button (click)="openEditarSurtidor(editarSurtidor)">Editar</button>
    <button (click)="eliminarSurtidor(surtidor?.idSurtidor)">Eliminar</button>
    <button [routerLink]="'/admin/picking'">Regresar</button>
  </div>
</div>
<!--Ventana Modal Buscar Orden-->
<ng-template #editarSurtidor let-modal>
  <form (ngSubmit)="editarSurtidorClick()">
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title estiloh4">Buscar Orden</h4>
      <button class="btn close btnClose" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fondo-modal-buscar form_modal">
      <div class="col">
        <label for="ejemplo">Nombre Surtidor</label>
        <input type="text" [(ngModel)]="surtidor.nombreSurtidor" class="form-control" name="nombreSurtidor" placeholder="Nombre">
        <input type="hidden" [(ngModel)]="surtidor.idSurtidor" class="form-control" name="idSurtidor"><br>
        <label for="ejemplo">Clave Surtidor</label>
        <input type="text" [(ngModel)]="surtidor.claveSurtidor" class="form-control" name="claveSurtidor" placeholder="Clave">
        <label for="ejemplo">Estado</label>
        <input type="text" [(ngModel)]="surtidor.estadoSurtidor" class="form-control" name="estadoSurtidor" placeholder="Estado">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btnBuscar">Crear</button>
    </div>
  </form>
</ng-template>
<!--Cerrar Ventana Modal Buscar Orden-->
