<div class="container">
  <div class="row titulo">
    <div>
    <br>
    <h1 class="fuente_h1">Detalles del registro de Picking</h1>
    <br>
    <button class="btnRegresar" [routerLink]="'/admin/registro'">Regresar</button>
    </div>
    <div id="tv">
      <h4>Numero de Orden Nuevo: <span>{{registro?.ordenVenta.docNum}}</span></h4>
      <h4>Numero de Picking: <span>{{registro?.picking.absEntry}}</span></h4>
      <h4 *ngIf="surtidor">Surtidor: <span>{{surtidor?.nombreSurtidor}}</span></h4>
      <h4 *ngIf="verificador!=null">Verificador: <span>{{verificador?.nombreVerificador}}</span></h4>
      <h4>Estatus: <span>{{registro?.estatus}}</span></h4>
    </div>
  </div>
  <br>
  <br>
  <div>
    <h2 class="fuente_h2">Linea de Tiempo</h2>
  </div>
  <div class="main-timeline">
    <!--Empieza estatus por surtir-->
    <div class="timeline" *ngIf="registro?.datePorSurtir !=null">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{registro?.datePorSurtir?.substring(5,7)}}</span>
            <span class="year">{{registro?.datePorSurtir?.substring(0,4)}}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Por Surtir</h5>
        <p class="description">

          La orden fue puesta en el estatus <b>Por surtir</b><br> en la fecha: {{registro?.datePorSurtir}}
          a la hora {{registro?.timePorSurtir}}
          <br><br>
          <br>
        </p>
      </div>
    </div>
    <!--Termina estatus por surtir-->

    <!--Empieza estatus inicio de surtido-->
    <div class="timeline" *ngIf="registro?.dateInicioSurtido !=null">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{registro?.dateInicioSurtido?.substring(5,7)}}</span>
            <span class="year">{{registro?.dateInicioSurtido?.substring(0,4)}}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Inicio de Surtido</h5>
        <p class="description">

          La orden fue puesta en el estatus <b>Inicio de Surtido</b><br> en la fecha: {{registro?.dateInicioSurtido}} 
          a la hora: {{registro?.timeInicioSurtido}}
          <br><br>
          <br>
        </p>
      </div>
    </div>
    <!--Termina estatus inicio de surtido-->

    <!--Empieza estatus termino de surtido-->
    <div class="timeline" *ngIf="registro?.dateTerminoSurtido !=null">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{registro?.dateTerminoSurtido?.substring(5,7)}}</span>
            <span class="year">{{registro?.dateTerminoSurtido?.substring(0,4)}}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Termino de Surtido</h5>
        <p class="description">

          La orden fue puesta en el estatus <b>Termino de Surtido</b><br> en la fecha: {{registro?.dateTerminoSurtido}}
          a la hora {{registro?.timeTerminoSurtido}}
          <br><br>
          <br>
        </p>
      </div>
    </div>
    <!--Termina estatus termino de surtido-->

    <!--Empieza estatus inicio de verificado-->
    <div class="timeline" *ngIf="registro?.dateInicioVerificado !=null">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{registro?.dateInicioVerificado?.substring(5,7)}}</span>
            <span class="year">{{registro?.dateInicioVerificado?.substring(0,4)}}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Inicio de Verificado</h5>
        <p class="description">

          La orden fue puesta en el estatus <b>Inicio de Surtido</b><br> en la fecha: {{registro?.dateInicioVerificado}}
          a la hora {{registro?.timeInicioVerificado}}
          <br><br>
          <br>
        </p>
      </div>
    </div>
    <!--Termina estatus inicio de verificado-->

    <!--Empieza estatus termino de verificado-->
    <div class="timeline" *ngIf="registro?.dateTerminoVerificado !=null">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">{{registro?.dateTerminoVerificado?.substring(5,7)}}</span>
            <span class="year">{{registro?.dateTerminoVerificado?.substring(0,4)}}</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Termino de Verificado</h5>
        <p class="description">

          La orden fue puesta en el estatus <b>Termino de Verificado</b><br> en la fecha: {{registro?.dateTerminoVerificado}}
          a la hora {{registro?.timeTerminoVerificado}}
          <br><br>
          <br>
        </p>
      </div>
    </div>
    <!--Termina estatus termino de verificado-->
  </div>
</div>