<h2>Registros de Tiempo</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estatus</th>
          <th scope="col">Numero de Picking</th>
          <th scope="col">Numero de Orden</th>
          <th scope="col">Accion</th>
        </tr>
        </thead>
        <tbody class="row_cuerpo" *ngFor="let registro of registros">
          <tr class="tr_font">
            <td>{{registro.idRegistro}}</td>
            <td>{{registro.estatus}}</td>
            <td>{{registro.docNum}}</td>
            <td>{{registro.picking.absEntry}}</td>
            <td><button [routerLink]="'/admin/registro/'+registro.idRegistro">Detalles</button></td>
          </tr>
        <tbody>
    </table>
</div>

