<!--Ventana Modal Buscar Orden-->
<ng-template #crearVerificador let-modal>
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title estiloh4">Buscar Orden</h4>
      <button class="btn close btnClose" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fondo-modal-buscar">
      <div class="col form_modal">
        <label for="ejemplo">Nombre Verificador</label>
        <input type="text" [(ngModel)]="verificador.nombreVerificador" class="form-control" name="nombreSurtidor"><br>
        <label for="ejemplo">Clave Verificador</label>
        <input type="text" [(ngModel)]="verificador.claveVerificador" class="form-control" name="claveSurtidor"><br>
        <label for="ejemplo">Mesa Verificador</label>
        <input type="text" [(ngModel)]="verificador.mesaVerificado" class="form-control" name="claveSurtidor"><br>
      </div>
    </div>
    <div class="modal-footer">
      <a type="submit" (click)="crearVerificadorClick()" class="btnBuscar">Crear</a>
    </div>
</ng-template>
<!--Cerrar Ventana Modal Buscar Orden-->
<!--Ventana Modal Buscar Orden-->
<ng-template #buscarVerificador let-modal>
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title estiloh4">Buscar Orden</h4>
      <button class="btn close btnClose" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body fondo-modal-buscar">
      <div class="col form_modal">
        <label for="ejemplo">Clave Surtidor</label>
        <input type="text" [(ngModel)]="verificador.claveVerificador" class="form-control" name="claveSurtidor">
      </div>
    </div>
    <div class="modal-footer">
      <a type="submit" (click)="buscarVerificadorClick()" class="btnBuscar">Buscar</a>
    </div>
</ng-template>
<!--Encabezado principal-->
<section class="intro">
  <div class="bg-image h-100" style="background-color: transparent;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <br><br>
        <!--Titulo-->
        <h2 style="color: #000;">
          Lista de Surtidores
        </h2>
        <br>
        <br>
        <button style="--clr:#634A97" (click)="openBuscarVerificador(buscarVerificador)"><span>Buscar
            Verificador</span><i></i></button> &nbsp;
        <button style="--clr:#C81E6E" (click)="openCrearVerificador(crearVerificador)"><span>Crear
            Verificador</span><i></i></button> &nbsp;
      </div>
    </div>
  </div>
</section>
<ng-template #sinEstatus>
  Sin Estatus
</ng-template>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Clave</th>
        <th scope="col">Estado</th>
        <th scope="col">Mesa</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody style="background-color: transparent;">
      <tr *ngFor="let verificador of verificadores">
        <td>{{verificador.idVerificador}}</td>
        <td>{{verificador.nombreVerificador}}</td>
        <td>{{verificador.claveVerificador}}</td>
        <td>{{verificador.estadoVerificador}}</td>
        <td>{{verificador.mesaVerificado}}</td>
        <td><a class="btn" [routerLink]="'/admin/verificador/'+verificador.idVerificador">Detalles</a></td>
      </tr>
    </tbody>
  </table>
</div>
