    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse color-sidebar">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <img src="assets/ANANDA-blanco.png" alt="Ananda">
          <!--Boton del Menu Administrador-->
          <div class="color-tr">
            <br>
            <a routerLink="/admin/registros" class="list-group-item list-group-item-action py-2 ripple color-tr"
              aria-current="true">
              <h2 class="fuenteH2"><span>Menu Admininistrador</span></h2>
            </a>
          </div>
          <br>
          <!--Lista Registros-->
          <a  routerLink="/admin/registro" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Registros
          </a>
          <a routerLink="/admin/picking" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Picking
          </a>
          <a routerLink="/admin/orden" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Ordenes Venta
          </a>
          <a routerLink="/admin/items" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Productos
          </a>
          <a routerLink="/admin/surtidor" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Surtidores
          </a>
          <a routerLink="/admin/verificador" class="list-group-item list-group-item-action py-2 ripple color-listado">
            Verificadores
          </a>
          <br><br><br><br><br><br>
          <br>
          <!--Boton Cerrar Sesion-->
          <a (click)="cerrarSesion()" class="list-group-item list-group-item-action py-2 ripple color-listado">
           Cerrar Sesion
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->






