<div class="container">
  <div class="row titulo">
    <h1 class="fuente_h1">Detalles del registro de Picking</h1>
  </div>
</div>
<div id="tv">
  <h4 class="fontH4">Numero de Orden: <span class="fontSpan">{{ordenVenta?.ordenVenta.docNum}}</span></h4>
  <h4 class="fontH4">Numero de Picking: <span class="fontSpan">{{ordenVenta?.absEntry}}</span> </h4>
  <div class="col-md-6">
    <h4 class="fontH4">Seleccionar Trabajador</h4>
    <div class="box">
      <select [(ngModel)]="claveSurtidor">
        <option value="" selected>Selecciona un Surtidor</option>
        <option *ngFor="let surtidor of surtidoresEstado" value="{{surtidor.claveSurtidor}}">{{surtidor.nombreSurtidor}}
        </option>
      </select>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="buttons">
      <button (click)="asignarSurtidor()">Asignar Surtidor</button>
      <button [routerLink]="'/admin/picking'">Regresar</button>
    </div>
  </div>
</div>
